<!doctype html>
<html>
<head>
	<title>Echarts demo</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

	<script src="{{url_for('static',filename='echarts.js') }}"></script>

    <!-- <script src="echarts.js"></script> -->
</head>
<body>
	
	<!-- prepare a DOM container with width and height -->
	<div>
		<form action="/demo">
			<input id="datepicker" type="text" class="form-control-inline" name="yearmonth">
			<input type="submit" value="Submit">
		</form>
	</div>
		
	<div id="dst_hours" style="height:350px; width:1200px"></div>
	<div id="dst_dates" style="height:350px; width:1200px"></div>
    <div id="test" style=""></div>


    <script type="text/javascript">
    	$(document).ready(function(){
    		$("#datepicker").datepicker({
    			format:"yyyymm",
    			minViewMode: "months",
    			endDate: "-1m"
    		});

	        $.getJSON('hourly/' + {{year_month}}, function (data, status) {
	        	// based on prepared DOM, initialize echarts instance
		        var myChart = echarts.init(document.getElementById('dst_hours'));

		        // specify chart configuration item and data
		        var option = {
		            title: {
		                text: 'ECharts entry example'
		            },
		            tooltip: {
		            	trigger: 'axis',
		            	axisPointer: {
		            		type: 'cross'
		            	}
		            },
		            legend: {
		                data:['Dst index']
		            },
		            xAxis: {
		                data: data.map(function(item){ return item[0]; })
		            },
		            yAxis: {},
			        dataZoom: [{
			            startValue: '{{start_date}}' //'2018-02-01'
			        }, {
			            type: 'inside'
			        }],
		            series: [{
		                name: 'Dst index',
		                type: 'line',
		                data: data.map(function(item){ return item[1]; })
		            }]
		        };

		        // use configuration item and data specified to show chart
		        myChart.setOption(option);	
			});

	        $.getJSON('dailyaverage/' + {{year_month}}, function (data, status) {

	        	// based on prepared DOM, initialize echarts instance
		        var myChart = echarts.init(document.getElementById('dst_dates'));

		        // specify chart configuration item and data
		        var option = {
		            title: {
		                text: 'ECharts entry example'
		            },
		            tooltip: {
		            	trigger: 'axis',
		            	axisPointer: {
		            		type: 'cross'
		            	}
		            },
		            legend: {
		                data:['Dst index']
		            },
		            xAxis: {
		                data: data.map(function(item){ return item[0]; })
		            },
		            yAxis: {},
			        dataZoom: [{
			            startValue: '{{start_date}}' //'2018-02-01'
			        }, {
			            type: 'inside'
			        }],
		            series: [{
		                name: 'Dst index',
		                type: 'line',
		                data: data.map(function(item){ return item[1]; })
		            }]
		        };

		        // use configuration item and data specified to show chart
		        myChart.setOption(option);	

				// var ctx = document.getElementById("dst_dates").getContext('2d');
				// var myChart = new Chart(ctx, {
				//     type: 'line',
    // 				maintainAspectRatio: false,
				//     data: {
				//         labels: data.map(function(item){ return item[0]; }),
				//         datasets: [{
				//             label: '# of Votes',
				//             data: data.map(function(item){ return item[1]; }),
				//             lineTension: 0,
				//             borderColor: 'rgb(255, 99, 132)',
				//             pointRadius: 0,
				//             fill: false
				//         }]
				//     }	
				// });
			});

	        	
		    })
    	
	</script>

    		
</body>

</html>
