<!doctype html>
<html>
<head>
	<title>Echarts demo</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

	<script src="{{url_for('static',filename='echarts.js') }}"></script>

    <!-- <script src="echarts.js"></script> -->
</head>
<body>
	
	<!-- prepare a DOM container with width and height -->
	<div>
		<form action="/demo">
			<div class="from-group">
				<label for="datepicker">View Dst index upto present, from</label>
				<input id="datepicker" type="text" class="form-control-inline" name="yearmonth" placeholder="Select month">
				<input type="submit" value="Submit">
			</div>
		</form>
	</div>
		
	<div id="dst_mixed" style="height:350px; width:1200px"></div>
	<div id="dst_hours" style="height:350px; width:1200px"></div>
	<div id="dst_dates" style="height:350px; width:1200px"></div>
    <div id="test" style=""></div>


    <script type="text/javascript">
    	$(document).ready(function(){
    		$("#datepicker").datepicker({
    			format:"yyyymm",
    			minViewMode: "months",
    			endDate: "-1m"
    		});

	        $.getJSON('hourly/' + {{year_month}}, function (data, status) {
	        	// based on prepared DOM, initialize echarts instance
		        var myChart = echarts.init(document.getElementById('dst_hours'));

		        // specify chart configuration item and data
		        var option = {
		            title: {
		                text: 'Dst index by hours'
		            },
		            tooltip: {
		            	trigger: 'axis',
		            	axisPointer: {
		            		type: 'cross'
		            	}
		            },
		            legend: {
		                data:['Dst index']
		            },
		            xAxis: {
		                data: data.map(function(item){ return item[0]; })
		            },
		            yAxis: {},
			        dataZoom: [{
			            startValue: '{{start_date}}' //'2018-02-01'
			        }, {
			            type: 'inside'
			        }],
		            series: [{
		                name: 'Dst index',
		                type: 'line',
		                data: data.map(function(item){ return item[1]; })
		            }]
		        };

		        // use configuration item and data specified to show chart
		        myChart.setOption(option);	
			});

	        $.getJSON('dailyaverage/' + {{year_month}}, function (data, status) {

	        	// based on prepared DOM, initialize echarts instance
		        var myChart = echarts.init(document.getElementById('dst_dates'));

		        // specify chart configuration item and data
		        var option = {
		            title: {
		                text: 'Average Dst index per day'
		            },
		            tooltip: {
		            	trigger: 'axis',
		            	axisPointer: {
		            		type: 'cross'
		            	}
		            },
		            legend: {
		                data:['Dst index']
		            },
		            xAxis: {
		                data: data.map(function(item){ return item[0]; })
		            },
		            yAxis: {},
			        dataZoom: [{
			            startValue: '{{start_date}}' //'2018-02-01'
			        }, {
			            type: 'inside'
			        }],
		            series: [{
		                name: 'Dst index',
		                type: 'line',
		                data: data.map(function(item){ return item[1]; })
		            }]
		        };

		        // use configuration item and data specified to show chart
		        myChart.setOption(option);	
			});


	 //        $.getJSON('hourly/' + {{year_month}}, function (hour_data, status) {
		// 		$.getJSON('dailyaverage/' + {{year_month}}, function (day_data, status) {
	 //        	// based on prepared DOM, initialize echarts instance
		//         var myChart = echarts.init(document.getElementById('dst_mixed'));

		//         // specify chart configuration item and data
		//         var option = {
		//             title: {
		//                 text: 'Dst index'
		//             },
		//             tooltip: {
		//             	trigger: 'axis',
		//             	axisPointer: {
		//             		type: 'cross'
		//             	}
		//             },
		//             legend: {
		//                 data:['Dst index by hours',  'Average Dst index per day']
		//             },
		//             xAxis: [{
		//                 data: hour_data.map(function(item){ return item[0]; })
		//             },{
		//             	data: day_data.map(function(item){ return item[0]; })
		//             }],
		//             yAxis: {},
		//             series: [{
		//                 name: 'Dst index by hours',
		//                 xAxisIndex:0,
		//                 type: 'line',
		//                 data: hour_data.map(function(item){ return item[1]; })
		//             },{
		//             	name: 'Average Dst index per day',
		//             	xAxisIndex:1,
		//             	type: 'line',
		//             	data: day_data.map(function(item){ return item[1]; })
		//             }]
		//         };

		//         // use configuration item and data specified to show chart
		//         myChart.setOption(option);	
		// 	});
		// });

	        	
		//     })
    	
	</script>

    		
</body>

</html>
